<h2 class="text-center" *ngIf="!data">Add Coin</h2>
<h2 class="text-center" *ngIf="data">Edit Coin</h2>

<div class="container">
  <form *ngIf="!data" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Coin Name</mat-label>
      <input type="text" matInput formControlName="coinName" placeholder="Coin Name">
      <mat-error *ngIf="form.controls.coinName?.errors?.required">
        Coin Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input type="text" matInput formControlName="amount" placeholder="Amount">
      <mat-error *ngIf="form.controls.amount?.errors?.required">
        Amount is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Coin Code</mat-label>
      <input type="text" matInput formControlName="coinCode" placeholder="Coin Code">
      <mat-error *ngIf="form.controls.coinCode?.errors?.required">
        Coin Code is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <form *ngIf="data" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Coin Name</mat-label>
      <input type="text" matInput formControlName="coinName" [(ngModel)]="data.coinName" placeholder="Coin Name">
      <mat-error *ngIf="form.controls.coinName?.errors?.required">
        Coin Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input type="text" matInput formControlName="amount" [(ngModel)]="data.amount" placeholder="Amount">
      <mat-error *ngIf="form.controls.amount?.errors?.required">
        Amount is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Coin Code</mat-label>
      <input type="text" matInput formControlName="coinCode" [(ngModel)]="data.coinCode" placeholder="Coin Code">
      <mat-error *ngIf="form.controls.coinCode?.errors?.required">
        Coin Code is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <div class="d-flex  justify-content-around">
    <button mat-raised-button (click)="back()">Back</button>
    <div>
      <button mat-raised-button *ngIf="!data" color="primary" type="submit" [disabled]="!form.valid"
        (click)="add()">Add</button>
      <button mat-raised-button *ngIf="data" color="primary" type="submit" [disabled]="!form.valid"
        (click)="update()">Update</button>
    </div>
  </div>
</div>
