<div class="container">
  <table mat-table [dataSource]="userList" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> S No. </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>User Name </th>
      <td mat-cell *matCellDef="let element" class="text-capitalize"> {{element.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="package">
      <th mat-header-cell *matHeaderCellDef>Current Package </th>
      <td mat-cell *matCellDef="let element" class="text-capitalize">
        <button mat-flat-button *ngIf="element.plan.planName">{{element.plan.planName}}</button>
        <button mat-flat-button class="noPlan" *ngIf="!element.plan.planName">No Plan..!!</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status </th>
      <td mat-cell *matCellDef="let element" class="status-{{element.status}} text-capitalize"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!-- <button mat-menu-item>
            <mat-icon class="text-info">account_box</mat-icon>View
          </button> -->
          <button mat-menu-item (click)="edit(element)">
            <mat-icon class="text-primary">edit</mat-icon>Edit
          </button>
          <button mat-menu-item (click)="deleteUser(element._id)">
            <mat-icon class="text-danger">delete</mat-icon>Delete
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
