table {
  width: 100%;
}

.status-active {
  color: green;
  font-weight: 500;
}

.status-inactive {
  color: red;
  font-weight: 500;
}

.mat-flat-button {
  background-color: green;
  color: white;
  /* width: 90px; */
  height: 25px;
  border-radius: 10px;
  line-height: 1;
  text-transform: capitalize;
}

.noPlan {
  background-color: red;
}
