table {
  width: 100%;
}

small {
  color: #ccc;
}

.planBtn {
  background: #0dcaf0 !important;
  color: white !important;
  float: right;
}


.avatar {
  display: flex;
  width: 45px;
  justify-content: center;
  height: 45px;
  float: left;
  background: #fa6767 !important;
  color: white;
  border-radius: 50%;
  align-items: center;
}
