<div class="container">
  <h2 class="text-center">Coins List
    <button mat-raised-button class="planBtn" (click)="add()">
      <mat-icon>add</mat-icon>
      Add
    </button>
  </h2>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="logo">
      <th mat-header-cell *matHeaderCellDef> Logo </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element.logo" src="{{element.logo}}" class="avatar rounded-circle" width="40px">
        <div class="text-uppercase avatar" *ngIf="!element.logo">
          {{getShortName(element.coinName)}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="coinName">
      <th mat-header-cell *matHeaderCellDef> Coin Name (Code) </th>
        <td mat-cell *matCellDef="let element">
          {{element.coinName}}
          <small>( {{element.coinCode}} )</small>
        </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element">$ {{element.amount}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(element)">
            <mat-icon class="text-primary">edit</mat-icon>Edit
          </button>
          <button mat-menu-item (click)="deleteCoin(element)">
            <mat-icon class="text-danger">delete</mat-icon>Delete
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
