<div class="modal-header">
  <h2 class="modal-title m-0">{{ data.title }}</h2>
  <button mat-icon-button (click)="dialogRef.close(false)">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="modal-body">
  {{ data.message }}
</div>

<div class="modal-footer">
  <button mat-raised-button (click)="dialogRef.close(true)">OK</button>
  <button mat-raised-button class="bg-white mx-3" (click)="dialogRef.close(false)">Cancel</button>
</div>
