<div class="container">
  <div class="row" *ngIf="userData">
    <div class="col-5">
      <mat-card class="profile">
        <button mat-icon-button matTooltip="Back" (click)="back()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <label class="hoverable" for="fileInput">
          <img class="avatar-lg" *ngIf="userData && userData.avatar" [src]="userData.avatar">
          <div class="text-uppercase avatar-lg" *ngIf="userData && !userData.avatar">
            {{getShortName(userData.userName)}}
          </div>
          <div class="hover-text">Choose file</div>
          <div class="background"></div>
        </label>
        <input id="fileInput" type='file' (change)="onSelectFile($event)">
        <h2 class="text-center text-capitalize">{{userData.userName}}</h2>
        <h1 class="text-center text-capitalize text-primary"><b>{{userData.plan.planName}}</b></h1>
      </mat-card>

    </div>
    <div class="col-7">
      <mat-card>
        <h2 class="text-center">User Details</h2>

        <form [formGroup]="form">
          <table>
            <tr>
              <th>User Name</th>
              <td>
                <h4 *ngIf="!isEdit" class="text-capitalize">{{userData.userName}}</h4>
                <mat-form-field *ngIf="isEdit" appearance="outline">
                  <mat-label>User Name</mat-label>
                  <input type="email" matInput formControlName="userName" [(ngModel)]="userData.userName"
                    placeholder="User Name">
                  <mat-error *ngIf="form.controls.userName?.errors?.required">
                    User Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th>Email</th>
              <td>
                <h4 class="text-lowercase" *ngIf="!isEdit">{{userData.email}}</h4>
                <mat-form-field *ngIf="isEdit" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" [(ngModel)]="userData.email" placeholder="Email">
                  <mat-error *ngIf="form.controls.email?.errors?.email">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="form.controls.email?.errors?.required">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th>Status</th>
              <td>
                <h4 *ngIf="!isEdit">{{userData.status}}</h4>
                <mat-form-field *ngIf="isEdit" appearance="outline">
                  <mat-label>Select Status</mat-label>
                  <mat-select formControlName="status" [(ngModel)]="userData.status">
                    <mat-option value="active">Active</mat-option>
                    <mat-option value="inactive">Inactive</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>

        <div class="d-flex justify-content-around">
          <button mat-raised-button color="primary" (click)="isEdit = !isEdit">Edit</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
            (click)="update()">Update</button>
        </div>
      </mat-card>
    </div>
  </div>

</div>
