.mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

table tr th {
  width: 130px;
  height: 80px;
}

table tr td {
  text-transform: capitalize;
}

table tr td h4 {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}

.avatar-lg {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
  font-size: 45px;
  background: #fa6767 !important;
  color: white;
  border-radius: 50%;
  align-items: center;
  margin-left: auto !important;
  margin-right: auto !important;
  border: 3px solid black;
}


.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 10px;
}

.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

.hoverable:hover .hover-text{
  display: block;
}

.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}
