.content {
    max-width: 100%;
    padding: 20px;
    height: 100vh;
    margin-top: 65px;
    overflow: auto;
    padding-bottom: 70px !important;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: flex;
    text-transform: capitalize;
    font-size: 18px;
    align-items: center;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    /* content: "/\00a0"; */
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}