<div>
    <div class="header">
        <app-header></app-header>
    </div>
    <div class="content">
        <ul class="breadcrumb">
            <li><mat-icon>double_arrow</mat-icon></li>
            <li *ngFor="let breadcrumb of breadcrumbs">
              &nbsp; {{breadcrumb.label}}
            </li>
          </ul>
        <router-outlet></router-outlet>
    </div>
</div>
