.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

mat-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.profile .avatar {
  height: 100px;
  width: 100px;
}

.active {
  background: #0dcaf0;
  color: white;
}

.avatar-sm {
  display: flex;
  width: 45px;
  justify-content: center;
  height: 45px;
  float: left;
  background: #fa6767 !important;
  color: white;
  border-radius: 50%;
  align-items: center;
}

.avatar-lg {
  display: flex;
  width: 100px;
  justify-content: center;
  height: 100px;
  font-size: 35px;
  background: #fa6767 !important;
  color: white;
  border-radius: 50%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}


.mat-button {
  margin-left: 5px;
  margin-right: 5px;
}
