<ngx-spinner size="medium" type="timer" color="#FD6503">
  <span class="text-white">🅻🅾🅰🅳🅸🅽🅶</span>
</ngx-spinner>

<mat-toolbar>
  <span>Light Media Marketing</span>
  <span class="example-spacer"></span>
  <button mat-button [ngClass]="{'active': currentUrl === 'dashboard'}" [routerLink]="['/dashboard']"
    class="example-icon favorite-icon">
    <mat-icon>dashboard</mat-icon> Dashboard
  </button>

  <button mat-button class="example-icon" [ngClass]="{'active': currentUrl === 'users'}" [routerLink]="['/users']">
    <mat-icon>people</mat-icon> Users
  </button>

  <button mat-button class="example-icon" [ngClass]="{'active': currentUrl === 'packages'}"
    [routerLink]="['/packages']">
    <mat-icon>all_inbox</mat-icon> Packages
  </button>

  <!-- <button mat-button class="example-icon" [ngClass]="{'active': currentUrl === 'coins'}"
    [routerLink]="['/coins']">
    <mat-icon>monetization_on</mat-icon> Coins
  </button> -->

  <!-- <button mat-button [ngClass]="{'active': currentUrl === 'super-admin' || currentUrl === 'roles' || currentUrl === 'permissions'}"  class="example-icon" [matMenuTriggerFor]="admin">
    <mat-icon>person</mat-icon> Admin <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #admin="matMenu">
    <button mat-menu-item [routerLink]="['/super-admin']">
      <span>Super Admin</span>
    </button>
    <button mat-menu-item [routerLink]="['/roles']">
      <span>Roles</span>
    </button>
    <button mat-menu-item [routerLink]="['/permissions']">
      <span>Permission</span>
    </button>
  </mat-menu> -->
  <button mat-button class="example-icon" [ngClass]="{'active': currentUrl === 'reports'}" [routerLink]="['/reports']">
    <mat-icon>assessment</mat-icon> Reports
  </button>
  <div *ngIf="userData" class="cursor-pointer d-flex align-items-center mx-4" [matMenuTriggerFor]="menu">
    <!-- <img src="assets/images/avatar.jpg" alt="Avatar" class="avatar"> -->
    <img class="avatar" *ngIf="userData &&  userData.avatar" [src]="userData.avatar">
    <div class="text-uppercase avatar-sm" *ngIf="userData && !userData.avatar">
      {{getShortName(userData.userName)}}
    </div>
    <mat-icon>arrow_drop_down</mat-icon>
    <mat-menu #menu="matMenu">
      <mat-card class="profile">
        <button mat-button matTooltip="Profile" (click)="getProfile()">
          <img class="avatar mx-3" *ngIf="userData &&  userData.avatar" [src]="userData.avatar">
          <div class="text-uppercase  avatar-lg" *ngIf="userData && !userData.avatar">
            {{getShortName(userData.userName)}}
          </div>
          <!-- <img src="assets/images/avatar.jpg" alt="Avatar" class="avatar mx-3"> -->
          <h2 class="text-center text-capitalize">{{userData.userName}}</h2>
        </button>
      </mat-card>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon> Log Out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
