.cardset {
  border: 0px;
  margin: 0px 25px;
}

.card:hover {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.card-header {
  color: white;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.color-card1 {
  background-color: white;
  color: #80ed83;
}

.border-success {
  border: 1px solid #80ed83 !important;
  border-radius: 10px;
}

.successActive {
  border: 1px solid #80ed83 !important;
  box-shadow: 0px 0px 20px #80ed83;
}

.text-color1 {
  color: #80ed83;
}

.color-card2 {
  background-color: white;
  color: #4c31ba;
}

.border-primary {
  border: 1px solid #4c31ba !important;
  border-radius: 10px;
}

.primaryActive {
  border: 1px solid #4c31ba !important;
  box-shadow: 0px 0px 20px #4c31ba;
}

.text-color2 {
  color: #4c31ba;
}

.color-card3 {
  color: #0dcaf0;
  background-color: white;
}

.border-info {
  border: 1px solid #0dcaf0 !important;
  border-radius: 10px;
}

.infoActive {
  border: 1px solid #0dcaf0 !important;
  box-shadow: 0px 0px 20px #0dcaf0;
}

.text-color3 {
  color: #0dcaf0;
}

.card-body {
  padding: 25px 70px;
}

sup {
  top: -3.5em;
}

.informationCard {
  height: 350px;
  width: 500px;
}

.btn .mat-button {
  border: 0px;
  background: #0dcaf0;
  color: white;
  height: 35px;
  border-radius: 20px;
}

.btn .selectBtn {
  background: #f0f0f0;
  color: #727c93;
}

.addBtn {
  background-color: #f0f0f0;
  color: #727c93;
  height: 25px;
  width: 100px;
  line-height: 1;
  font-size: 12px;
  border-radius: 15px;
}

.payment {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

.payment-card {
  height: 150px;
  padding: 25px;
  width: 300px;
  background: linear-gradient(104.76deg, #fde3bf -9%, #fff7ec 121.44%);
  color: black;
  float: left;
  border-radius: 10px;
}

.list {
  height: 350px;
}

.list ul li {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  color: black !important;
}

.list ul li a {
  color: black !important;
}

.list .active {
  background: linear-gradient(180deg, #f53243 0%, #fe6701 100%);
  color: white;
}

.cardType {
  color: #ffab2d;
  font-style: oblique;
  text-transform: uppercase;
}

.planBtn {
  background: #0dcaf0 !important;
  color: white !important;
}

.w-100 {
  width: 90% !important;
}
