<div class="container py-4 px-5">
  <div *ngIf="!isAdd">
    <div class="cardset" *ngIf="!selectedPlan">
      <h2 class="text-end">
        <button mat-raised-button class="planBtn" (click)="addPlan()">
          <mat-icon>add</mat-icon>
          Add Plan
        </button>
      </h2>
      <!-- <div class="card-deck py-4 row">
        <div class="col">
          <div [ngClass]="{'successActive mat-elevation-z4': basicPlan}"
            class="card border text-white border-success cursor-pointer" (click)="selectPlan(basic)">
            <h2 class="card-header color-card1 mb-0">
              {{basic.name}}
            </h2>
            <div class="card-body px-5">
              <h1 class="text-center text-color1">
                <sup>$</sup>
                <span class="display-2"><b>{{basic.amount}}</b></span>
                <sub>mo</sub>
              </h1>
            </div>
            <div class="btn pb-3 p-0 text-center">
              <button mat-button>Edit Plan</button>
            </div>
          </div>
        </div>

        <div class="col">
          <div [ngClass]="{'primaryActive mat-elevation-z4': advancedPlan}"
            class="card border  text-white border-primary cursor-pointer" (click)="selectPlan(advanced)">
            <h2 class="card-header color-card2 mb-0">
              {{advanced.name}}
            </h2>
            <div class="card-body px-5">
              <h1 class="text-center text-color2">
                <sup>$</sup>
                <span class="display-2"><b>{{advanced.amount}}</b></span>
                <sub>mo</sub>
              </h1>
            </div>
            <div class="btn pb-3 p-0 text-center">
              <button mat-button>Edit Plan</button>
            </div>
          </div>
        </div>

        <div class="col">
          <div [ngClass]="{'infoActive mat-elevation-z4': premiumPlan}"
            class="card border  text-white border-info cursor-pointer" (click)="selectPlan(premium)">
            <h2 class="card-header  color-card3 mb-0">
              {{premium.name}}
            </h2>
            <div class="card-body px-5">
              <h1 class="text-center text-color3">
                <sup>$</sup>
                <span class="display-2"><b>{{premium.amount}}</b></span>
                <sub>mo</sub>
              </h1>
            </div>
            <div class="btn pb-3 p-0 text-center">
              <button mat-button>Edit Plan</button>
            </div>
          </div>
        </div>
      </div> -->

      <mat-grid-list *ngIf="planList && planList.length" cols="3" rowHeight="400">
        <mat-grid-tile *ngFor="let plan of planList;let i = index;">
          <div class="card border w-100 text-white border-info cursor-pointer" (click)="selectPlan(plan)">
            <h2 class="card-header color-card3 mb-0">
              {{plan.planName}}
            </h2>
            <div class="card-body px-5">
              <h1 class="text-center text-color3">
                <sup>$</sup>
                <span class="display-2"><b>{{plan.amount}}</b></span>
                <sub>mo</sub>
              </h1>
            </div>
            <div class="btn pb-3 p-0 text-center">
              <button mat-button>Select Plan</button>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <mat-card class="mx-auto w-50 text-center p-5" *ngIf="selectedPlan">
      <h2 class="text-capitalize">
        <button mat-icon-button matTooltip="Back" (click)="backEdit()" class="float-start">
          <mat-icon color="primary">arrow_back</mat-icon>
        </button>
        <strong>{{selectedPlan.planName}}</strong>
        <button mat-icon-button (click)="deletePlan(selectedPlan._id)" matTooltip="Delete" class="float-end">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </h2>
      <form>
        <!-- <mat-form-field appearance="outline">
          <mat-label>Plan Name</mat-label>
          <input matInput placeholder="New Plan Name" [(ngModel)]="selectedPlan.planName"
            [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>paid</mat-icon>
        </mat-form-field> -->
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput type="number" placeholder="New Amount" [(ngModel)]="selectedPlan.amount"
            [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix>paid</mat-icon>
        </mat-form-field><br>
        <button mat-raised-button class="planBtn" (click)="updatePlan()">Submit</button>
      </form>
    </mat-card>
  </div>

  <div *ngIf="isAdd">
    <mat-card class="mx-auto w-50 text-center p-5">
      <h2 class="text-capitalize"><strong>Add Plan</strong></h2>
      <form [formGroup]="form" (ngSubmit)="createPlan()">
        <mat-form-field appearance="outline">
          <mat-label>Plan Name</mat-label>
          <input matInput formControlName="planName" placeholder="New Plan Name">
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount" placeholder="New Amount">
          <mat-icon matSuffix>paid</mat-icon>
        </mat-form-field><br>
        <button mat-raised-button class="planBtn mx-4" [disabled]="!form.valid">Add</button>
        <button mat-raised-button (click)="back()">Back</button>
      </form>
    </mat-card>
  </div>
</div>
