<!-- <div class="container">
    <div class="labels mb-5">
      <mat-card *ngFor="let item of rows" class="cards shadow">
        <h2>{{item.total}}</h2>
        <h1><b>{{item.label}}</b></h1>
      </mat-card>
    </div>

    <div class="p-0">
      <div class="row">
        <div class="col-6 barChartData">
          <mat-card class="shadow">
            <mat-card-subtitle class="title">
              <h3><b>Bar Chart</b></h3>
            </mat-card-subtitle>
            <hr>
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </mat-card>
        </div>
        <div class="col-6 pieChartData">
          <mat-card class="shadow">
            <mat-card-subtitle class="title">
              <h3><b>Pie Chart</b></h3>
            </mat-card-subtitle>
            <hr>
            <canvas baseChart *ngIf="pieChartData" [data]="pieChartData" [labels]="pieChartLabels"
              [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
              [legend]="pieChartLegend">
            </canvas>
          </mat-card>
        </div>
      </div>
    </div>


    <mat-card class="my-5">
      <mat-card-subtitle class="title">
        <h3><b>Table</b></h3>
      </mat-card-subtitle>
      <hr>
      <mat-table [dataSource]="countryTrafficStats" matSort>
        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Country
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="id">
            <span class="flag-icon {{ row.flag }}"></span>
            {{ row.country }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="visitor">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Visitor
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="progress">
            {{ row.visitor }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pageView">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Page View
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="name">
            {{ row.pageView }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="download">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Download
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="color">
            {{ row.download }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="bounceRate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Bounce Rate
          </mat-header-cell>
          <mat-cell *matCellDef="let row" data-label="color">
            {{ row.bounceRate }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="[
                'country',
                'visitor',
                'pageView',
                'download',
                'bounceRate'
              ]"></mat-header-row>
        <mat-row *matRowDef="
                let row;
                columns: [
                  'country',
                  'visitor',
                  'pageView',
                  'download',
                  'bounceRate'
                ]
              ">
        </mat-row>
      </mat-table>
    </mat-card>
  </div> -->


<div class="container">
  <h2 class="text-center">Payment History</h2>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <div class="example-element-diagram">
            <!-- <div class="example-element-date"> {{element.date}} </div> -->
            <div class="example-element-amount"> {{element.amount}} </div>
            <div class="example-element-name"> {{element.name}} </div>
            <div class="example-element-plan"> {{element.plan}} </div>
          </div>
          <div class="example-element-description">
            {{element.description}}
            <span class="example-element-description-attribution"> -- Wikipedia </span>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

</div>
