/* p {
  font-family: Lato;
}

.labels {
  display: flex;
  justify-content: space-around;
  color: rgba(34, 42, 69, 0.96);
}

.labels .cards {
  text-align: center;
  width: 130px;
  background-color: #0dcaf0;
  color: white;
} */

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 110px;
  text-align: center;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-amount {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


table tr th {
  text-transform: capitalize;
}
