/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-spacer {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-card {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.removePadding .mat-dialog-container {
  padding: 0px;
}
