<div class="container">
  <div class="labels mb-5">
    <mat-card *ngFor="let item of rows" class="cards shadow">
      <h2>{{item.total}}</h2>
      <h1><b>{{item.label}}</b></h1>
    </mat-card>
  </div>

  <div class="p-0">
    <div class="row">
      <div class="col-6 barChartData">
        <mat-card class="shadow">
          <mat-card-subtitle class="title">
            <h3><b>Bar Chart</b></h3>
          </mat-card-subtitle>
          <hr>
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </mat-card>
      </div>
      <div class="col-6 pieChartData">
        <mat-card class="shadow">
          <mat-card-subtitle class="title">
            <h3><b>Pie Chart</b></h3>
          </mat-card-subtitle>
          <hr>
          <canvas baseChart *ngIf="pieChartData" [data]="pieChartData" [labels]="pieChartLabels"
            [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-5">
      <mat-card class="mb-2">
        <mat-card-subtitle class="title">
          <h3><b>Line Chart</b></h3>
        </mat-card-subtitle>
        <hr>
        <canvas baseChart [datasets]="LineChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [plugins]="barChartPlugins" [legend]="barChartLegend" [colors]="chartColors" [chartType]="barChartType">
        </canvas>
      </mat-card>
      <mat-card class="mt-2">
        <mat-card-subtitle class="title">
          <h3><b>Top Campaign Performance </b></h3>
        </mat-card-subtitle>
        <hr>
        <div class="p-3">
          <div class="mb-3">
            <p class="m-0">
              Facebook <span class="text-muted">| 9.8 | 90%</span>
            </p>
            <mat-progress-bar color="warn" mode="determinate" value="90" class="rounded" style="height: 6px">
            </mat-progress-bar>
          </div>
          <div class="mb-3">
            <p class="m-0 text-13">
              Google AdSense <span class="text-muted">| 8.3 | 80%</span>
            </p>
            <mat-progress-bar class="" color="primary" mode="determinate" value="80" class="rounded"
              style="height: 6px">
            </mat-progress-bar>
          </div>
          <div class="mb-3">
            <p class="m-0 text-13">
              Twitter <span class="text-muted">| 5.8 | 60%</span>
            </p>
            <mat-progress-bar class="" color="accent" mode="determinate" value="60" class="rounded" style="height: 6px">
            </mat-progress-bar>
          </div>
          <div class="mb-3">
            <p class="m-0 text-13">
              LinkedIn <span class="text-muted">| 4.8 | 40%</span>
            </p>
            <mat-progress-bar class="" color="warn" mode="determinate" value="40" class="rounded" style="height: 6px">
            </mat-progress-bar>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-7">
      <mat-card>
        <mat-card-subtitle class="title">
          <h3><b>Table</b></h3>
        </mat-card-subtitle>
        <hr>
        <mat-table [dataSource]="countryTrafficStats" matSort>
          <ng-container matColumnDef="country">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Country
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="id">
              <span class="flag-icon {{ row.flag }}"></span>
              {{ row.country }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="visitor">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Visitor
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="progress">
              {{ row.visitor }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="pageView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Page View
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="name">
              {{ row.pageView }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="download">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Download
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="color">
              {{ row.download }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="bounceRate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              Bounce Rate
            </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="color">
              {{ row.bounceRate }}
            </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <button mat-button><mat-icon>keyboard_arrow_right</mat-icon></button>
              </mat-cell>
            </ng-container> -->

          <mat-header-row *matHeaderRowDef="[
              'country',
              'visitor',
              'pageView',
              'download',
              'bounceRate'
            ]"></mat-header-row>
          <mat-row *matRowDef="
              let row;
              columns: [
                'country',
                'visitor',
                'pageView',
                'download',
                'bounceRate'
              ]
            ">
          </mat-row>
        </mat-table>
      </mat-card>
    </div>
  </div>

</div>
