p {
    font-family: Lato;
}

.labels {
    display: flex;
    justify-content: space-around;
    color: rgba(34, 42, 69, 0.96);
}

.labels .cards {
    text-align: center;
    width: 130px;
    background-color: #0dcaf0;
    color: white;
}