<div class="signin-content">
  <mat-card class="shadow p-3 mb-5 bg-white rounded">

    <mat-card-header class="d-flex justify-content-center">
      <mat-card-title>Light Media Marketing</mat-card-title>
      <mat-card-subtitle>Please login to continue</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="form.controls.email?.errors?.email">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.controls.email?.errors?.required">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="form.controls.password?.errors?.required">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
