.mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;

}

.signin-content {
  padding: 60px 1rem;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  height: 85px;
}
